.PostView {
  word-wrap: break-word;
  text-align: start;
  border-radius: 1rem;
  border: 2px solid var(--second-color);
}

.PostViewHeader {
  height: 3rem;
  border-bottom: 2px solid var(--second-color);
  display: flex;
  align-items: center;
}

.PostViewMessage {
  padding: 0 1rem;
}

.PostViewHeaderCreatorName {
  margin-left: 0.5rem;
}
