.PostView {
  word-wrap: break-word;
  text-align: start;
  border-radius: 1rem;
  border: 2px solid var(--second-color);
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.PostViewHeader {
  height: 3rem;
  border-bottom: 2px solid var(--second-color);
  display: flex;
  align-items: center;
}

.PostViewMain {
  margin: 2rem;
  display: flex;
  flex-direction: column;
}

.PostViewMessage {
  margin-top: 0;
}

.PostViewHeaderCreatorName {
  margin-left: 0.5rem;
  cursor: pointer;
}
